accelerate==0.21.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio
appnope 
argon2-cffi 
argon2-cffi-bindings
arrow 
asttokens 
async-lru
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
Brotli 
cached-propertycertifi==2023.7.22
cffi 
charset-normalizer
click==8.1.7
comm
contourpy==1.3.0
cycler==0.12.1
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastapi==0.112.2
fastjsonschema
ffmpy==0.4.0
filelock==3.12.2
flit_core
fonttools==4.53.1
fqdn
frozenlist==1.4.1
fsspec==2023.6.0
gradio==3.39.0
gradio_client==0.7.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.16.4
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer==2.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.5
linkify-it-py==2.0.3
markdown-it-py==2.2.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune
mpmath==1.3.0
multidict==6.0.5
narwhals==1.6.0
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.1
notebook_shim
numpy==1.25.1
orjson==3.10.7
overrides
packaging
pandas==2.2.2
pandocfilters
parso
pexpect
pickleshare 
pillow==10.4.0
pkgutil_resolve_name name_1633981968097/work
platformdirs 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess
pure-eval 
pycparser 
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
Pygments 
pyobjc-core 
pyobjc-framework-Cocoa
cocoa_1686136050783/work
pyparsing==3.1.4
PySocks 
python-dateutil 
python-json-logger 
python-multipart==0.0.9
pytz 
PyYAML==6.0.1
pyzmq 
referencing
regex==2023.6.3
requests 
rfc3339-validator
validator_1638811747357/work
rfc3986-validator
validator_1598024191506/work
rpds-py 
safetensors==0.3.1
semantic-version==2.10.0
Send2Trash 
six 
sniffio 
soupsieve 
stack-data 
starlette==0.38.2
sympy==1.12
terminado 
tinycss2 
tokenizers==0.13.3
tomli 
torch==2.0.1
tornado 
tqdm==4.65.0
traitlets 
transformers==4.31.0
typing-utils 
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
uri-template 
work/dist
urllib3
uvicorn==0.30.6
wcwidth 
webcolors
webencodings==0.5.1
websocket-client
websockets==11.0.3
widgetsnbextension 
yarl==1.9.4
zipp
